.back-button-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  opacity: 0.5;
  z-index: 99999;
}

.back-button-container:active {
  transform: scale(1.25);
  transition: 0.25s;
}

.back-button-icon {
  height: 2rem;
  width: 2rem;
}

.heart-button-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: 0.5;
  z-index: 99999;
}

.heart-button-container:active {
  transform: scale(1.25);
  transition: 0.25s;
}

.heart-icon {
  height: 1.5rem;
  width: 1.5rem;
}